NET "qdriip_q[0]"                            LOC = "AR38"    |   IOSTANDARD = HSTL_I_DCI           |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_q[1]"                            LOC = "AR39"    |   IOSTANDARD = HSTL_I_DCI           |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_q[2]"                            LOC = "AR37"    |   IOSTANDARD = HSTL_I_DCI           |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_q[3]"                            LOC = "AP38"    |   IOSTANDARD = HSTL_I_DCI           |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_q[4]"                            LOC = "AN41"    |   IOSTANDARD = HSTL_I_DCI           |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_q[5]"                            LOC = "AN40"    |   IOSTANDARD = HSTL_I_DCI           |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_q[6]"                            LOC = "AN38"    |   IOSTANDARD = HSTL_I_DCI           |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_q[7]"                            LOC = "AM42"    |   IOSTANDARD = HSTL_I_DCI           |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_q[8]"                            LOC = "AM41"    |   IOSTANDARD = HSTL_I_DCI           |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_q[9]"                            LOC = "AT42"    |   IOSTANDARD = HSTL_I_DCI           |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_q[10]"                           LOC = "AT40"    |   IOSTANDARD = HSTL_I_DCI           |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_q[11]"                           LOC = "AR42"    |   IOSTANDARD = HSTL_I_DCI           |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_q[12]"                           LOC = "AT39"    |   IOSTANDARD = HSTL_I_DCI           |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_q[13]"                           LOC = "AR40"    |   IOSTANDARD = HSTL_I_DCI           |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_q[14]"                           LOC = "AP42"    |   IOSTANDARD = HSTL_I_DCI           |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_q[15]"                           LOC = "AP41"    |   IOSTANDARD = HSTL_I_DCI           |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_q[16]"                           LOC = "AP40"    |   IOSTANDARD = HSTL_I_DCI           |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_q[17]"                           LOC = "AU39"    |   IOSTANDARD = HSTL_I_DCI           |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_q[18]"                           LOC = "AW38"    |   IOSTANDARD = HSTL_I_DCI           |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_q[19]"                           LOC = "AW37"    |   IOSTANDARD = HSTL_I_DCI           |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_q[20]"                           LOC = "AY37"    |   IOSTANDARD = HSTL_I_DCI           |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_q[21]"                           LOC = "AY38"    |   IOSTANDARD = HSTL_I_DCI           |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_q[22]"                           LOC = "AY40"    |   IOSTANDARD = HSTL_I_DCI           |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_q[23]"                           LOC = "BA37"    |   IOSTANDARD = HSTL_I_DCI           |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_q[24]"                           LOC = "BB37"    |   IOSTANDARD = HSTL_I_DCI           |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_q[25]"                           LOC = "BB39"    |   IOSTANDARD = HSTL_I_DCI           |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_q[26]"                           LOC = "BB38"    |   IOSTANDARD = HSTL_I_DCI           |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_q[27]"                           LOC = "AU42"    |   IOSTANDARD = HSTL_I_DCI           |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_q[28]"                           LOC = "AT41"    |   IOSTANDARD = HSTL_I_DCI           |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_q[29]"                           LOC = "AU41"    |   IOSTANDARD = HSTL_I_DCI           |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_q[30]"                           LOC = "AW41"    |   IOSTANDARD = HSTL_I_DCI           |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_q[31]"                           LOC = "BA39"    |   IOSTANDARD = HSTL_I_DCI           |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_q[32]"                           LOC = "AY42"    |   IOSTANDARD = HSTL_I_DCI           |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_q[33]"                           LOC = "BA41"    |   IOSTANDARD = HSTL_I_DCI           |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_q[34]"                           LOC = "BA42"    |   IOSTANDARD = HSTL_I_DCI           |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_q[35]"                           LOC = "BB41"    |   IOSTANDARD = HSTL_I_DCI           |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_cq_p[0]"                         LOC = "AU38"    |   IOSTANDARD = HSTL_I_DCI           |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_cq_n[0]"                         LOC = "AV40"    |   IOSTANDARD = HSTL_I_DCI           |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_bw_n[0]"                         LOC = "AB31"    |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_bw_n[1]"                         LOC = "AB32"    |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_bw_n[2]"                         LOC = "AE32"    |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_bw_n[3]"                         LOC = "AD36"    |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_k_p[0]"                          LOC = "AA31"    |   IOSTANDARD = DIFF_HSTL_II         |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_k_n[0]"                          LOC = "AA32"    |   IOSTANDARD = DIFF_HSTL_II         |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_d[0]"                            LOC = "Y32"     |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_d[1]"                            LOC = "AA30"    |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_d[2]"                            LOC = "AA29"    |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_d[3]"                            LOC = "AB29"    |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_d[4]"                            LOC = "AC31"    |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_d[5]"                            LOC = "AC30"    |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_d[6]"                            LOC = "AD31"    |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_d[7]"                            LOC = "AD30"    |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_d[8]"                            LOC = "AC29"    |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_d[9]"                            LOC = "Y37"     |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_d[10]"                           LOC = "AA37"    |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_d[11]"                           LOC = "AA36"    |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_d[12]"                           LOC = "AB37"    |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_d[13]"                           LOC = "Y35"     |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_d[14]"                           LOC = "AB36"    |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_d[15]"                           LOC = "AA35"    |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_d[16]"                           LOC = "AA34"    |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_d[17]"                           LOC = "AB33"    |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_d[18]"                           LOC = "AE29"    |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_d[19]"                           LOC = "AE30"    |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_d[20]"                           LOC = "AF31"    |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_d[21]"                           LOC = "AF32"    |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_d[22]"                           LOC = "AE33"    |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_d[23]"                           LOC = "AE34"    |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_d[24]"                           LOC = "AE35"    |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_d[25]"                           LOC = "AD35"    |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_d[26]"                           LOC = "AC34"    |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_d[27]"                           LOC = "AG34"    |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_d[28]"                           LOC = "AF36"    |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_d[29]"                           LOC = "AF37"    |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_d[30]"                           LOC = "AF35"    |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_d[31]"                           LOC = "AG36"    |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_d[32]"                           LOC = "AF34"    |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_d[33]"                           LOC = "AE37"    |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_d[34]"                           LOC = "AD37"    |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_d[35]"                           LOC = "AC35"    |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_sa[18]"                          LOC = "AJ41"    |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_sa[17]"                          LOC = "AJ38"    |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_sa[16]"                          LOC = "AK40"    |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_sa[15]"                          LOC = "AK39"    |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_sa[14]"                          LOC = "AL41"    |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_sa[13]"                          LOC = "AK38"    |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_sa[12]"                          LOC = "AH38"    |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_sa[11]"                          LOC = "AG41"    |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_sa[10]"                          LOC = "AH39"    |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_sa[9]"                           LOC = "AL39"    |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_sa[8]"                           LOC = "AH40"    |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_sa[7]"                           LOC = "AH41"    |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_sa[6]"                           LOC = "AJ40"    |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_sa[5]"                           LOC = "AL42"    |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_sa[4]"                           LOC = "AF41"    |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_sa[3]"                           LOC = "AK42"    |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_sa[2]"                           LOC = "AF40"    |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_sa[1]"                           LOC = "AG42"    |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_sa[0]"                           LOC = "AG39"    |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_w_n"                             LOC = "AF39"    |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_r_n"                             LOC = "AJ42"    |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
NET "qdriip_dll_off_n"                       LOC = "AT37"    |   IOSTANDARD = HSTL_I               |     VCCAUX_IO = NORMAL       ;                       
